{% load static %}

<footer class="rt-footer">
  <div class="rt-footer-main">
    <div class="container wide">
      <div class="rt-footer-row">
        <div class="rt-footer-logo">
          <img src="{% static 'img/reactool_logo_noname.svg' %}" class="logo-file" width="32px" height="32px">
        </div>
        <ul class="rt-footer-list">
          <li class="rt-footer-title">ASDF</li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
        </ul>
        <ul class="rt-footer-list">
          <li class="rt-footer-title">ASDF</li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
        </ul>
        <ul class="rt-footer-list">
          <li class="rt-footer-title">ASDF</li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
        </ul>
        <ul class="rt-footer-list">
          <li class="rt-footer-title">ASDF</li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
        </ul>
        <ul class="rt-footer-list">
          <li class="rt-footer-title">ASDF</li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
          <li class="rt-footer-item"><a href="#">ASDF</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rt-footer-secondary">
    <div class="container wide">
      <div class="rt-footer-row">
        <div class="rt-footer-col-wrapper">
          <div class="rt-footer-col">
            2022&nbsp;株式会社リアクディブデザイン
          </div>
          <div class="rt-footer-col footer-terms">
            <a href="#">利用規約とプライバシーポリシー</a>
          </div>
          <div class="rt-footer-col footer-socials">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="rt-footer-col"></div>
        </div>
      </div>
    </div>
  </div>
</footer>